
nav > ul {
    background-color: rgb(230, 230, 230);
    list-style: none;   /* 移除項目符號 */
    margin: 0;
    padding: 0;
}
nav a {
    display: block; /* 讓 <a> 填滿 <li> */
    color: inherit; /* 移除超連結顏色 */
    padding: 10px;
    text-decoration: none;  /* 移除超連結底線 */
}
nav a:hover {
    background-color: rgb(115, 115, 115);
    color: white;
}
.flex-nav {
    display: flex;
    justify-content: center;
}

.wrap{
    display: flex;
    width: 857px;
    margin: 0 auto;
  }
  .content{
    width: 1000px;
    
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .content p{
    width: 237px;
    font-size: 20px;
    color: #ffffff;
    font-family: Helvetica;
    letter-spacing: 1px;
    line-height: 1.3;
    
  }
  .box{
    width: 1300px;
    height: 400px;
    background: #ecd6c7;
    margin: 0 auto;/*區塊置中*/
  }